.appFrame {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.appFrame .clearfix {
  display: block;
  zoom: 1;
}
.appFrame .clearfix:before {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.appFrame .clearfix:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.appFrame .frameLeft {
  transition: all .3s;
  z-index: 1;
  position: absolute;
  background: #1a85ed;
  width: 168px;
  height: 100%;
  left: 0;
  top: 0;
}
.appFrame .frameLeft .frameLogo {
  display: block;
  margin: auto;
}
.appFrame .frameLeft .topMenuWrap {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  box-sizing: border-box;
  padding-top: 110px;
}
.appFrame .frameLeft .topMenuWrap .el-scrollbar__thumb {
  background: #fff;
}
.appFrame .frameLeft .topMenuItem {
  height: 48px;
  line-height: 48px;
  padding-left: 56px;
  position: relative;
  box-sizing: border-box;
  z-index: 1;
  color: #fff;
  cursor: pointer;
}
.appFrame .frameLeft .topMenuItem:hover {
  background: #459cf3;
}
.appFrame .frameLeft .topMenuItem i {
  height: 36px;
  width: 36px;
  left: 10px;
  top: 6px;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 6px;
}
.appFrame .frameLeft .topMenuItem.active {
  background: #fff;
  border-right: 6px solid #ffd200;
  color: #1b88ed;
  font-size: 16px;
}
.appFrame .frameLeft .topMenuItem.active i {
  background-color: #1b88ed;
  border-radius: 50%;
}
.appFrame .frameLeft .menuGroup {
  height: 42px;
  overflow: hidden;
}
.appFrame .frameLeft .menuGroup .menuGroupLine {
  margin: 9px 16px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.appFrame .frameLeft .menuGroup .menuGroupText {
  margin: 0 16px;
  height: 32px;
  line-height: 32px;
  top: 10px;
  left: 16px;
  white-space: nowrap;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}
.appFrame .frameLeft .switchBreadth {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -9px;
  height: 38px;
  margin-top: -19px;
  text-align: center;
  width: 9px;
  background: #2babee;
  font-size: 10px;
  border-radius: 0 3px 3px 0;
  line-height: 38px;
  color: white;
}
.appFrame .frameLeft .switchBreadth .fa-caret-right {
  display: none;
}
.appFrame .frameLeft .switchBreadth .fa-caret-left {
  display: inline;
}
.appFrame .frameLeft .switchBreadth:hover {
  background: #1192d5;
}
.appFrame .fullScrollViewY {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}
.appFrame .fullScrollViewX {
  height: 100%;
  overflow: hidden;
  overflow-x: auto;
}
.appFrame .frameRight {
  transition: all .3s;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  box-sizing: border-box;
  padding-left: 168px;
  background: #eeeff0;
}
.appFrame .frameRight .appInformationBar {
  height: 60px;
  border-bottom: 1px solid #e5e7ea;
  background: #fff;
  box-sizing: border-box;
}
.appFrame .frameRight .appInformationBar .leftButton {
  cursor: pointer;
  height: 59px;
  line-height: 65px;
  overflow: hidden;
  padding: 0 20px;
  display: inline-block;
}
.appFrame .frameRight .appInformationBar .leftButton:hover,
.appFrame .frameRight .appInformationBar .leftButton.active {
  background: #f9f9fa;
}
.appFrame .frameRight .appInformationBar .leftButton .el-badge__content.is-fixed {
  top: 13px;
}
.appFrame .frameRight .appInformationBar .leftButton span {
  position: relative;
  top: -4px;
  padding-left: 10px;
}
.appFrame .frameRight .appInformationBar .rightSeting {
  cursor: pointer;
  float: right;
  height: 59px;
  padding-right: 20px;
}
.appFrame .frameRight .appInformationBar .rightSeting .avator {
  height: 36px;
  width: 36px;
  border: 1px solid #eeeff0;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: 11px;
}
.appFrame .frameRight .appInformationBar .rightSeting .avatorWrap {
  width: 36px;
  margin: 0 10px;
}
.appFrame .frameRight .appInformationBar .rightSeting div {
  position: relative;
  height: 59px;
  line-height: 59px;
  display: inline-block;
}
.appFrame .frameRight .appInformationBar .rightSeting .popoverUserSeting {
  height: 50px;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.appFrame .frameRight .appInformationBar .rightSeting .popoverUserSeting .fa-caret-down {
  color: #999999;
}
.appFrame .frameRight .secondMenu {
  height: 48px;
  border-bottom: 1px solid #e5e7ea;
  box-sizing: border-box;
  position: relative;
  padding-left: 160px;
  background: #fff;
}
.appFrame .frameRight .secondMenu .menuTitle {
  overflow: hidden;
  width: 160px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  line-height: 48px;
  font-size: 18px;
  text-indent: 44px;
}
.appFrame .frameRight .secondMenu .menuTitle > i {
  height: 36px;
  width: 36px;
  position: absolute;
  background-position: left -39px;
  left: 10px;
  top: 6px;
  background-repeat: no-repeat;
}
.appFrame .frameRight .secondMenu .menuTitle > img {
  float: left;
  margin-top: 10px;
  height: 24px;
  margin-left: -12px;
  filter: drop-shadow(30px 0 0 #999999);
}
.appFrame .frameRight .secondMenu .menuTitle:after {
  content: "";
  position: absolute;
  right: 0;
  top: 12px;
  width: 1px;
  height: 22px;
  background: #e8e8e8;
}
.appFrame .frameRight .secondMenu .secondMenuWrap {
  height: 100%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
}
.appFrame .frameRight .secondMenu .secondMenuWrap .scrollAngle {
  position: absolute;
  top: 6px;
  height: 48px;
  width: 16px;
  line-height: 46px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  background: #fff;
}
.appFrame .frameRight .secondMenu .secondMenuWrap .scrollAngle:hover {
  background: #eee;
}
.appFrame .frameRight .secondMenu .secondMenuWrap .scrollAngle.left {
  left: 0;
}
.appFrame .frameRight .secondMenu .secondMenuWrap .scrollAngle.right {
  right: 0;
}
.appFrame .frameRight .secondMenu .secondMenuWrap.noScroll {
  padding-left: 0;
  padding-right: 0;
}
.appFrame .frameRight .secondMenu .secondMenuWrap.noScroll .scrollAngle {
  display: none;
}
.appFrame .frameRight .secondMenu .secondMenuWrap .secondMenuItem {
  display: inline-block;
  transition: all .3s;
  padding: 0 16px;
  height: 100%;
  line-height: 60px;
  cursor: pointer;
}
.appFrame .frameRight .secondMenu .secondMenuWrap .secondMenuItem.active {
  box-sizing: border-box;
  border-bottom: 3px solid #20a0ff;
  color: #20a0ff;
}
.appFrame .frameRight .thirdMenu {
  height: 40px;
  border-bottom: 1px solid #e5e7ea;
  box-sizing: border-box;
  position: relative;
  background: #fff;
}
.appFrame .frameRight .thirdMenu .thirdMenuWrap {
  height: 100%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.appFrame .frameRight .thirdMenu .thirdMenuWrap .scrollAngle {
  position: absolute;
  top: 3px;
  height: 33px;
  width: 10px;
  line-height: 35px;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  background: #fff;
}
.appFrame .frameRight .thirdMenu .thirdMenuWrap .scrollAngle:hover {
  background: #eee;
}
.appFrame .frameRight .thirdMenu .thirdMenuWrap .scrollAngle.left {
  left: 0;
}
.appFrame .frameRight .thirdMenu .thirdMenuWrap .scrollAngle.right {
  right: 0;
}
.appFrame .frameRight .thirdMenu .thirdMenuWrap.noScroll .scrollAngle {
  display: none;
}
.appFrame .frameRight .thirdMenu .thirdMenuWrap .thirdMenuItem {
  display: inline-block;
  transition: all .3s;
  padding: 0 16px;
  height: 100%;
  line-height: 39px;
  cursor: pointer;
}
.appFrame .frameRight .thirdMenu .thirdMenuWrap .thirdMenuItem.active {
  box-sizing: border-box;
  border-bottom: 3px solid #20a0ff;
  color: #20a0ff;
}
.appFrame .frameRight .contentPageView {
  overflow: hidden;
  overflow-y: auto;
  overflow-x: hidden;
}
.appFrame.miniMenu .frameRight {
  padding-left: 56px;
}
.appFrame.miniMenu .frameLeft {
  width: 56px;
}
.appFrame.miniMenu .frameLeft .frameLogo {
  height: 42px;
  margin: 10px auto;
}
.appFrame.miniMenu .frameLeft .topMenuItem {
  padding-left: 50px;
  overflow: hidden;
  text-indent: 200px;
}
.appFrame.miniMenu .frameLeft .topMenuItem i {
  left: 7px;
}
.appFrame.miniMenu .frameLeft .menuGroup .menuGroupLine {
  margin: 9px 6px 0;
}
.appFrame.miniMenu .frameLeft .menuGroup .menuGroupText {
  margin: 0;
  width: 51px;
  text-align: center;
}
.appFrame.miniMenu .frameLeft .switchBreadth .fa-caret-right {
  display: inline;
}
.appFrame.miniMenu .frameLeft .switchBreadth .fa-caret-left {
  display: none;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.28);
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.4);
}
.userSetingMenu {
  margin: 0 -10px;
}
.userSetingMenu .item {
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  font-size: 14px;
  color: #666666;
}
.userSetingMenu .item:hover {
  background: #eeeff0;
}
.userSetingMenu .item i {
  margin-right: 10px;
  font-size: 16px;
}
.userSetingMenu .item:last-child {
  border-top: 1px solid #dcdcdc;
}
